.html{
    height: 100%;
}
.taisao{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(20, 65, 20)

}
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: floralwhite;
    box-sizing:border-box;
    box-shadow: 0 15px rgb(9, 28, 9);
    border-radius: 10px;

}
.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: rgb(20, 65, 20);
    text-align: center;

}
.login-box .user-box{
    position: relative;
}
.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(20, 65, 20);
    margin-bottom: 30px;
    border: none;
    border-bottom: solid 2px rgb(20, 65, 20);
    outline: none;
    background: transparent;
    
}
.login-box button{
    border: none;
    background: rgb(20, 65, 20);
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 200px;
    color: floralwhite;
    margin-left: 60px;
}



